.buttonTextFive{
    display: none;
}
.buttonTextFour{
    display: none;
}
.buttonTextOne{
    display: none;
}
.buttonTextThree{
    display: none;
}
.buttonTextTwo{
    display: none;
}
#responsePhrase{
    display: none;
}
